<!-- Dashboard for the Grammar Bot. -->
<!doctype html>
<title>Grammar Bot Dashboard</title>
<h1>Grammar Bot Dashboard</h1>
Hello, I am the Grammar Helper robot. You can follow me on <a href="https://twitter.com/HelperGrammar">Twitter</a>.<br><br>
The time is: {{ parm_time }}<br><br>
At the moment, I am helping these Twitter users improve there grammar,<br>
<blockquote>
    {% for follower in parm_followers %}
        {{ follower|e }}<br>
    {% endfor %}
</blockquote>
I'm sure that these corrections helped them a lot...<br>
<blockquote>
    {% for tweet in parm_history %}
        <!-- Elements are in this order in the list. -->
        <!-- [timestamp, user_screen_name, text, reply_text] -->
        {{ tweet['timestamp'] }}<br>
        @{{ tweet['user_screen_name'] }}: {{ tweet['text'] }}<br>
        @HelperGrammar: {{ tweet['reply_text'] }}<br><br>
    {% endfor %}
</blockquote>
